@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  // height: 100%;
  font-size: 14px;
}

body {
  margin: 0;
  padding: 0;
  // min-height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* -- desktop layout -- */

.ant-card {
  border-radius: 0;

  .ant-card-body {
    padding: 0;
  }
}

.design-card .ant-card-cover {
  height: 8rem;
}

/* -- mobile layout -- */

.mobile-layout {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

.content-layout {
  height: calc(100vh - 50px);
  overflow-y: auto;
}
